.App {
	background-color: #f1f1f1;
	font-size: calc(10px + 2vmin);
	color: #282c34;
	width:100%;
	height: 100vh;
}

.App-link {
  	color: #61dafb;
}

.col {
	float: left;
	padding: 0px 10px;
	height: 100vh;
	overflow-y: scroll;
}



.story {
	width: 55%;
	border-left: 1px solid #fff;
}

.text-body {
    background-color: transparent;
    resize: none;
    outline: none;
	color: #282c34;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16pt;
	height:90vh;
	width: 60vh;
	margin-top:30px;
	line-height: 25px;
	padding: 2px 10px;
	border: none;
	caret-color: #29B6F6;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
}

.sidebar {
	width: 25%;
	/* filter: blur(0.5rem); */
	/* transition: 0.3s; */
}

.title img {
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 30vh;
}




.options {
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 75%;
	height: fit-content;
	font-size: 12pt;
	white-space: nowrap;
}

.options > div {
	margin-bottom: 1vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.options > div > * {
	margin-left: 5%;
	vertical-align: middle;
}

.options > div > .slider{
	max-width: 80%;
}

.options > div > .seed {
	max-width: 75%;
}

.options input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	line-height: 1.5em;
	width: 100%;
	margin-left: 1.5vh;
}

.options img {
	min-width: 4vh;
	max-width: 4vh;
}




.playPause img {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}

.loadingIcon {
	margin-top: 0vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 5vh;
	visibility: hidden;
}




/* 
.sidebar > .title img {
	min-width: 5vh;
	max-width: 5vh;
	transition: 0.3s;
}

.sidebar > .options div {
	visibility: hidden;
}

.sidebar:hover {
	width: 25%;
	filter: none;
}

.sidebar:hover > .title img {
	min-width: 15vh;
	max-width: 15vh;
}

.sidebar:hover div > * {
	visibility: visible;
} */

/* .slider {
	margin-bottom: 1.5vh;
}

.seed {
	margin-left: 2vh;
} */