/*** Base app style ***/

.App {
	background-color: #f1f1f1;
	font-size: calc(10px + 2vmin);
	color: #282c34;
	width:100%;
	height: 100vh;
}

.App-link {
  	color: #61dafb;
}

.col {
	float: left;
	padding: 0px 10px;
	height: 100vh;
	overflow-y: scroll;
}


/*** Story/writing pane ***/

.story {
	width: 50%;
	border-left: 1px solid #fff;
}

.text-body {
    background-color: transparent;
    resize: none;
    outline: none;
	color: #282c34;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16pt;
	height:90vh;
	margin-top:30px;
	line-height: 25px;
	padding: 2px 10px;
	border: none;
	caret-color: #29B6F6;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
}

/* regular text is bold, bold text is regular,
   for highlighting user inputted text */
b {
	font-weight: normal;
}


/*** Sidebar with title/options ***/

.sidebar {
	width: 5%;
	overflow: hidden;
	transition: 0.3s;
	margin-left: 15%;
}

/* Hide details/shrink images normally, display on hover */
.sidebar > .options div div,
.sidebar .options div input {
	visibility: hidden;
}

.sidebar:hover {
	width: 20%;
	margin-left: 0%;
}

.sidebar:hover > .title img {
	min-width: 15vh;
	max-width: 15vh;
}

.sidebar:hover .options div div,
.sidebar:hover .options div input {
	visibility: visible;
}

/* Title image */
.sidebar > .title img {
	min-width: 75%;
	max-width: 75%;
	transition: 0.3s;
}

.title img {
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 30vh;
}

/* Parameters section */
.options {
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 75%;
	height: fit-content;
	font-size: 12pt;
	white-space: nowrap;
}

.options > div {
	margin-bottom: 1vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.options > div > * {
	margin-left: 5%;
	vertical-align: middle;
}

.options > div .slider{
	max-width: 80%;
	display: inline-block;
}

.options > div > .seed {
	max-width: 75%;
}

.seed {
	margin-left: 2vh;
}

.options input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	line-height: 1.5em;
	width: 100%;
	margin-left: 1.5vh;
}

.options img {
	min-width: 4vh;
	max-width: 4vh;
}


/*** Play/pause and loading images */

.playPause img {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}

.loadingIcon {
	margin-top: 0vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	height: 5vh;
	visibility: hidden;
}
