.App {
	background-color: #f1f1f1;
	font-size: calc(10px + 2vmin);
	color: #282c34;
	width:100%;
	height: 100vh;
}

.App-link {
  	color: #61dafb;
}

.text-body {
    background-color: transparent;
    resize: none;
    outline: none;
	color: #282c34;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16pt;
	height:90vh;
	width: 60vh;
	margin-top:30px;
	line-height: 25px;
	padding: 2px 10px;
	border: none;
}

.col {
	float: left;
	padding: 0px 10px;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar {
	width: 25%;
}

.story {
	width: 55%;
	border-left: 1px solid #fff;
}

.title img {
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 30vh;
}

.options {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60%;
	height: fit-content;
	font-size: 12pt;
	white-space: nowrap;
}

.options > * {
	width: 100% !important;
	margin-bottom: 2%;
}

.options input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	width: 75% !important;
}

.playPause img {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}

.loadingIcon {
	margin-top: 0vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 5vh;
	visibility: hidden;
}

