.App {
	background-color: #282c34;
	font-size: calc(10px + 2vmin);
	color: white;
	width:100%;
	height: 100vh;
}

.App-link {
  	color: #61dafb;
}

.text-body {
    background-color: transparent;
    resize: none;
    outline: none;
	color: #f1f1f1;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height:90vh;
	width: 60vh;
	margin-top:30px;
	line-height: 25px;
	padding: 2px 10px;
	border: none;
}

.col {
	background-color: #282c34;
	float: left;
	padding: 0px 10px;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar {
	width: 25%;
}

.story {
	width: 55%;
	border-left: 1px solid #fafafa;
}

.title img {
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 30vh;
}

.options {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 5vh;
}

.playPause img {
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}

.loadingIcon {
	margin-top: 0vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 15vh;
	height: 5vh;
	visibility: hidden;
}