/*** Base app style ***/

.App {
	background-color: #f1f1f1;
	font-size: calc(10px + 2vmin);
	color: #282c34;
	width:100%;
	height: 100vh;
}

.App-link {
  	color: #61dafb;
}

.col {
	float: left;
	padding: 0px 10px;
	height: 100vh;
	overflow-y: scroll;
}


/*** Story/writing pane ***/

.story {
	width: 50%;
	border-left: 1px solid #fff;
}

.story ::selection {
	background: #fcf113;
	/* background: linear-gradient(to top, #fcf113 50%, transparent 50%); */
  }

.text-body {
    background-color: transparent;
    resize: none;
    outline: none;
	color: #282c34;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16pt;
	height:90vh;
	margin-top:30px;
	line-height: 25px;
	padding: 2px 10px;
	border: none;
	caret-color: #29B6F6;
	max-width: -webkit-fill-available;
}

/* regular text is bold, bold text is regular,
   for highlighting user inputted text */
b {
	font-weight: normal;
}


/*** Sidebar with title/options ***/

.sidebar {
	width: 20%;
	overflow: hidden;
}

.sidebar .options > div {
	margin-left: 75%;
	transition: 0.3s;
}

/* Hide details/shrink images normally, display on hover */
.sidebar > .options div div,
.sidebar .options div input {
	visibility: hidden;
	transition: 0.1s;
}

.sidebar .options > div:hover {
	margin-left: 15%;
	transition: 0.3s;
}

.sidebar .options > div:hover * {
	visibility: visible;
	transition: 0.1s;
}

/* Title image */
.title img {
	margin-top: 25vh;
	margin-right: auto;
	margin-left: 70%;
	display: block;
	width: 15vh;
	height: 25vh;
	min-width: 25%;
	max-width: 25%;
	transition: 0.3s;
}

/* Parameters section */
.options {
	margin-top: 3vh;
	float:right;
	display: block;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 12pt;
	white-space: nowrap;
}

.options > div {
	margin-bottom: 1vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.options > div > * {
	margin-left: 5%;
	vertical-align: middle;
}

.options > div .slider{
	max-width: 70%;
	display: inline-block;
}

.options > div > .seed {
	max-width: 65%;
}

.seed {
	margin-left: 2vh;
}

.options input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	line-height: 1.5em;
	width: 100%;
	margin-left: 1.5vh;
}

.options img {
	min-width: 4vh;
	max-width: 4vh;
}


/*** Play/pause and loading images */

.playPause img {
	margin-top: 33vh;
	margin-left: 75%;
	margin-right: auto;
	display: block;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
	transition: 0.1s;
}

.playPause img:hover {
	animation: spin 0.2s;
  animation-iteration-count: 1; 
}

.loadingIcon {
	margin-top: 0vh;
	margin-left: 75%;
	margin-right: auto;
	display: block;
	width: 5.5vh;
	height: 5vh;
	visibility: hidden;
}


@keyframes spin {
  0% { transform: translate(0px, 0px) rotate(36deg); }
  10% { transform: translate(0px, 0px) rotate(72deg); }
  20% { transform: translate(0px, 0px) rotate(108deg); }
  30% { transform: translate(0px, 0px) rotate(144deg); }
  40% { transform: translate(0px, 0px) rotate(180deg); }
  50% { transform: translate(0px, 0px) rotate(216deg); }
  60% { transform: translate(0px, 0px) rotate(252deg); }
  70% { transform: translate(0px, 0px) rotate(288deg); }
  80% { transform: translate(0px, 0px) rotate(324deg); }
  90% { transform: translate(0px, 0px) rotate(342deg); }
  100% { transform: translate(0px, 0px) rotate(360deg); }
}
